.grid-container{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
    grid-auto-rows: 50px;
}
.grid-container .grid-item{
    padding: 10px;
    border: 1px solid #26a;
    margin: 5px;
}
.confirm-button{
    padding: 10px 40px;
    margin: 10px 0 0 5px;
}