* {
	font-weight: 100;
	padding: 0;
}

.container{
	filter: contrast(20);
	background: #fff;
}
.caja{
	display: inline-block;
	width: 150px;
	height: 150px;
	background: red;
	margin: 40px;
	border-radius: 50%;
	filter: blur(20px);
}

.caja:first-child{
	animation: transladar 1.6s alternate infinite;
}

@keyframes transladar{
	0%{
		transform: translate(0);
	}
	100%{
		transform: translate(160px);
	}
}