body {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-item{
    padding: 15px 18px;
    margin: 20px 0;
    text-align: center;
    background-color: rgb(156, 156, 127);
    border-radius: 10px;
    border: 3px solid rgb(111, 117, 30);
}
.flex-item:hover{
    cursor: pointer;
    box-shadow: 0px 0px 30px #317124
}
.flex-item:focus {
	border-color: #4400ff;
	box-shadow: 0px 0px 30px #6200ff
}
form {
	text-align: center;
	padding: 50px;
}
input[type="submit"]{
    padding: 12px 36px;
	font-size: 17px;
}