* {
	font-weight: 100;
	padding: 0;
}
body{
	background: radial-gradient(circle,#fff,#bbb);
	padding: 15px;

}
.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
	grid-auto-rows: 100px;	/* Las filas implicitas */
	grid-gap: 10px;	/* Tipo un margin */
}

img{
	/* Al tener ya definido el tamaño de filas y columnas podemos darle tamaño en % */
	width: 100%;
	height: 100%;
	object-fit: cover;
}
img:first-child{
	grid-column: 1/3;
	grid-row: 1/3;
}
img:nth-child(6){
	grid-row: 3/5;
	grid-column: 2/4;
}